.login_menu{
    display:flex;
}

.login_menu li {
    margin-right: 25px;
    list-style-type: none;
}

.login_menu li a {
    /* color: blue; */
    text-decoration: none;
}

.login_menu h4{
    margin:0;
}

.heading{
    color: orange;
    font-size: 20px;
    text-align: center;
    margin-top:50px;
}